@font-face {
  font-family: "symbols-sedona";
  src: url("../font/symbols-sedona.eot?60737633");
  src: url("../font/symbols-sedona.eot?60737633#iefix") format("embedded-opentype"),
       url("../font/symbols-sedona.woff?60737633") format("woff"),
       url("../font/symbols-sedona.ttf?60737633") format("truetype"),
       url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "symbols-sedona";
    src: url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: "\66"; } /* "f" */
.icon-twitter:before { content: "\74"; } /* "t" */
.icon-up-dir:before { content: "\25b2"; } /* "▲" */
.icon-down-dir:before { content: "\25bc"; } /* "▼" */
.icon-star:before { content: "\2605"; } /* "★" */
.icon-check-off:before { content: "\2610"; } /* "☐" */
.icon-check-on:before { content: "\2611"; } /* "☑" */
.icon-calendar:before { content: "\e800"; } /* "" */
.icon-plus:before { content: "\e801"; } /* "" */
.icon-minus:before { content: "\e802"; } /* "" */
.icon-youtube:before { content: "\f39e"; } /* "" */

/***** Page styles ******/

body {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  font-family: "PT Sans", "MS Sans Serif", sans-serif;
  line-height: 26px;  
  text-transform: uppercase;
  text-align: center;

  margin: 0;
  padding: 0;
  background-color: #eee;
}

.container {
  width: 768px;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  min-height: 56px;
  position: relative;
  padding: 0;
  background-color: #fff;
}

.logo {
  font-size: 0;
  
  position: absolute;
  top: 0;
  left: 50%;
  
  margin-left: -69px;
  height: 70px;
  width: 138px;
  
  background: url(../img/logo.png) no-repeat center;
}

.main-navigation {
  padding: 0;
}

.main-navigation ul {
  font-size: 0;
  text-align: left;
  
  list-style: none;
  
  margin: 0;
  padding: 0 46px;
}

.main-navigation li {
  font-size: 14px;
  line-height: 26px;
  
  display: inline-block;
  min-height: 40px;
  width: 110px;
  padding-top: 14px;
  vertical-align: baseline;
}

.main-navigation a {
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "MS Sans Serif", sans-serif;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #81b3d2;
  text-decoration: none;
}

.main-navigation a:active {
  color: #cacaca;
}

.main-navigation li:nth-child(4n+2) {
  margin-right: 149px;
  margin-left: 43px;
}

.main-navigation li:nth-child(4n+3) {
  margin-right: 44px;
}

.main-navigation li:nth-child(4n+3),
.main-navigation li:nth-child(4n) {
  text-align: right;
}

.intro {
  min-height: 512px;
  background: url("../img/intro.jpg") no-repeat center;
}

.features-list-header {
  padding-top: 56px;
  background-color: #fff;
}

.index-header {
  color: #000000;
  font-size: 21px;
  
  width: 450px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.index-header + p {
  margin-bottom: 50px;
}

.feature-1,
.feature-2 {
  color: #fff;
  min-height: 256px;
  width: 768px;
  background-color: #81b3d2;
}

.features-item {
  line-height: 21px;
}

.feature-number {
  margin-top: 24px;
  margin-bottom: 21px;
}

.feature-img img {
  display: block;
  height: 256px;
  width: 512px;
}

.feature-1 .features-item {
  float: left;
  width: 179px;
  margin: 0 auto;
  padding-left: 37px;
  padding-right: 37px;
}

.features-title {
  margin-top: 47px;
}

.feature-1 .feature-img {
  float: right;
}

.features-more {
  background-color: #fff;
}

.features-more .features-item {
  float: left;
  min-height: 330px;
  width: 33.33%;
}

.features-more-title + p {
  width: 165px;
  margin: 0 auto;
}

.features-more .features-more-text-custom {
  width: 157px;
}

.features-more-title {
  font-weight: 700;
  
  margin-top: 52px;
  margin-bottom: 24px;
}

.features-more-title:before {
  content: "";
  display: block;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 29px;
  
}

.features-item:nth-child(1) .features-more-title:before {
  background: url(../img/icon-home.png) no-repeat bottom;
}

.features-item:nth-child(2) .features-more-title:before {
  background: url(../img/icon-eat.png) no-repeat bottom;
}

.features-item:nth-child(3) .features-more-title:before {
  background: url(../img/icon-souvenir.png) no-repeat bottom;
}

.feature-2 .features-item {
  float: right;
  width: 177px;
  margin: 0 auto;
  padding-left: 39.5px;
  padding-right: 39.5px;
}

.feature-2 .feature-img {
  float: left;
}

.feature-2 .features-title {
  margin-left: 13px;
  margin-right: 13px;
}

.features-3-to-5 .features-item {
  float: left;
  min-height: 256px;
  width: 160px;
  padding-left: 48px;
  padding-right: 48px;
  background-color: #eeeeee;
}

.features-3-to-5 .features-item:nth-child(2) {
  width: 145px;
  padding-left: 55.5px;
  padding-right: 55.5px;
}

.search-hotel {
  position: relative;
  z-index: auto;
  background: #fff;
}

.search-hotel-title {
  font-size: 30px;
  line-height: 24px;
  
  margin-top: 0;
  padding-top: 56px;
  margin-bottom: 30px;
}

.search-hotel-title + p {
  line-height: 24px;
  
  width: 500px;
  margin: 0 auto;
}

.link-to-btn {
  display: inline-block;
  line-height: 86px;
  vertical-align: baseline;
}

.link-to-btn:hover {
  text-decoration: none;
}

.btn {
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  font-family: "PT Sans", "MS Sans Serif", sans-serif;
  text-transform: uppercase;
  
  border: 0;
}

.btn-blue {
  background-color: #81b3d2;
}

.btn-blue:hover {
  background-color: #669ec0;
}

.btn-blue:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.btn-brown {
  background-color: #766357;
}

.btn-brown:hover {
  background-color: #604e43;
}

.btn-brown:active {
  color: #857871;
  background-color: #503e33;
}

.btn-show-form {
  width: 568px;
  height: 86px;
  margin-top: 47px;
}

.search-hotel-form {
  text-align: right;
  
  position: absolute;
  left: 100px;
  top: -104px;
  
  height: 395px;
  width: 513px;
  margin: 0 auto;
  padding-right: 55px;
  background: #fff;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
  
  z-index: -1;
  -webkit-transition: top 0.8s ease-in-out, z-index 1s step-start;
  transition: top 0.8s ease-in-out, z-index 1s step-start;
}

.search-hotel-form-show {
  top: 291px;
  z-index: 10;
  -webkit-transition: top 0.8s ease-in-out, z-index 1s step-end;
  transition: top 0.8s ease-in-out, z-index 1s step-end;
}

.search-form {
  font-weight: bold;
}

.search-form input {
  font-size: 14px;
  font-weight: bold;
  font-family: "PT Sans", "MS Sans Serif", sans-serif;
  text-transform: uppercase;
  
  height: 32px;
  background: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-form input:hover {
  border-color: #ebebeb;
}

.search-form input:focus {
  background: #fff;
  border-color: #e5e5e5;
}

input[name="arrival-date"],
input[name="departure-date"] {
  width: 325px;
  padding: 1px 10px;
  padding-right: 7px
}

.search-form input::-webkit-input-placeholder {color:#000;}
.search-form input::-moz-placeholder          {color:#000;}/* Firefox 19+ */
.search-form input:-moz-placeholder           {color:#000;}/* Firefox 18- */
.search-form input:-ms-input-placeholder      {color:#000;}
.search-form input:placeholder                {color:#000;}

.label-date {
  font-size: 0;
}

.label-date span {
  font-size: 14px;
}

.label-date .icon-calendar {
  color: #c2c2c2;
  font-size: 21px;
  font-weight: 400;
  font-family: "symbols-sedona";
  
  position: absolute;
  top: 61px;
  right: 60px
}

input[name="departure-date"] + .icon-calendar {
  top: 128px;
}

.label-date .icon-calendar:hover {
  color: #000;
}

.label-date .icon-calendar:active {
  color: #81b3d2;
}

input[name="arrival-date"] {
  margin-top: 55px;
  margin-left: 21px;
}

input[name="departure-date"] {
  margin-top: 29px;
  margin-bottom: 30px;
  margin-left: 19px;
}

.form-third-row {
  font-size: 0;
}

.form-third-row label {
  font-size: 14px;
}

.btn-plus,
.btn-minus {
  color: #a9a9a9;
  font-size: 14px;
  
  height: 38px;
  width: 38px;
  margin: 0;
  border: 0;
  background-color: #f2f2f2;
}

.btn-plus:hover,
.btn-minus:hover {
  color: #000;
}

.btn-plus:active,
.btn-minus:active {
  color: #81b3d2;
}

.plus-minus {
  display: inline-block;
  vertical-align: baseline;
  height: 38px;
}

label[for="adults"] + .plus-minus {
  margin-left: 41px;
  margin-right: 54px;
}

label[for="children"] + .plus-minus {
  margin-left: 26px;
}

input[name="adults"],
input[name="children"] {
  text-align: center;
  
  width: 32px;
  height: 32px;
  padding: 1px 1px;
  vertical-align: bottom;
}

.btn-submit{
  height: 58px;
  width: 458px;
  margin-top: 54px;
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.search-hotel-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.map {
  position: relative;
  height: 593px;
  width: 768px;
  background-image: url("../img/map.jpg");
  z-index: 0;
  -webkit-transition: z-index 1s step-end;
  transition: z-index 1s step-end;
}

.map-hide {
  z-index: -100;
  -webkit-transition: z-index 1s step-start;
  transition: z-index 1s step-start;
}

.map iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

.main-footer {
  display: inline-block;
  vertical-align: middle;
  min-height: 120px;
  background-color: #fff;
  background-color: rgba(256,256,256,0.9);
}

.index-footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-block {
  float: left;
  width: 256px;
  margin-top: 36px;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: 700;
  
  padding-top: 10px;
}

.social-btn {
  font-size: 0;
  min-height: 120px;
}

.social-btn:before {  
  content: "";
  color: #fff;
  font-family: "symbols-sedona";
  line-height: 48px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  
  display: inline-block;
  width: 46px;
  height: 48px;
  background: #81b3d2;
  vertical-align: top;
  margin-right: 2px;
}

.social-btn:hover:before {
  background-color: #669ec0;
}

.social-btn:active:before {
  color: #88b6d1;
  background-color: #5496bd;
}

.social-btn-twitter.social-btn:before {
  content: "\74";
  font-size: 19px;
}

.social-btn-facebook.social-btn:before {
  content: "\66";
  font-size: 19px;
}

.social-btn-youtube.social-btn:before {
  content: "\f39e";
  font-size: 21px;
}

.footer-copyright {
  padding-top: 5px;
}

.footer-copyright span {
  color: #000;
  font-size: 14px;
}

.footer-copyright a:hover {
  text-decoration: none;
}

.copyright-img {
  display: inline-block;
  height: 39px;
  width: 113px;
  overflow: hidden;
  vertical-align: middle;
  line-height: 39px;
  margin-left: 5px;
}

.copyright-img:hover {
  text-indent:-123px;
}

.copyright-img:active {
  text-indent:-246px;
}

/* hotel-filter */

.hotel-filter {
  color: #fff;
  text-align: left;
  line-height: 21px;
  
  min-height: 217px;
  background: url("../img/hotel-filter-bg.jpg") #cacaca no-repeat top;
}

.hotel-filter h2 {
  font-size: 16px;
  
  margin-top: 27px;
  margin-bottom: 25px;
}

.filter-left,
.filter-center {
  float: left;
}

.filter-right {
  font-size: 0;
  
  float: right;
  margin-right: 46px;
}

.filter-left {
  margin-left: 46px;
  margin-right: 100px;
}

.hotel-filter ul {
  list-style: none;
  padding: 0;
}

.hotel-filter li {
  min-height: 21px;
  margin-bottom: 24px
}

.hotel-filter input[type="checkbox"] {
  list-style: none;
  margin: 0;
}

.custom-checkbox:enabled,
.custom-checkbox:disabled {
  display: none;
}

.custom-checkbox:enabled + label:before,
.custom-checkbox:disabled + label:before {
  content: "\2610";
  font-family: "symbols-sedona";
  font-size: 26px;
  
  display: inline-block;
  width: 25px;
  margin-right: 15px;
  vertical-align: middle;
}

.custom-checkbox:enabled + label:hover:before,
.custom-checkbox:disabled + label:hover:before {
  cursor: pointer;
}

.custom-checkbox:checked + label:before {
  content: "\2611";
}

.filter-right h2 {
  margin-bottom: 10px;
  padding-left: 3px;
}

.price-min,
.price-max {
  color: #fff;
  font-size: 14px;
  font-family: "PT Sans", "MS Sans Serif", sans-serif;
  text-align: center;
  text-transform: uppercase;
  
  height: 30px;
  width: 109px;
  border: 2px solid #fff;
  background: none;
  vertical-align: middle;
}

.hotel-filter input::-webkit-input-placeholder {color:#fff;}
.hotel-filter input::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.hotel-filter input:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.hotel-filter input:-ms-input-placeholder      {color:#fff;}
.hotel-filter input:placeholder                {color:#fff;}

.price-min {
  border-right: 0;
  border-radius: 3px 0 0 3px;
}

.input-separator {
  display: inline-block;
  height: 32px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  vertical-align: middle;
}

.input-separator:before {
  content: "";
  display: inline-block;
  height: 20px;
  border-left: 2px solid #fff;
  margin-top: 7px;
  vertical-align: baseline;
}

.price-max {
  border-left: 0;
  border-radius: 0 3px 3px 0;
}

.range-controls {
  position: relative;
  margin-bottom: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 4px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255,255,255,0.3);
}

.range-controls .bar {
  height: 2px;
  width: 178px;
  background: #fff;
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0px;
  height: 4px;
  width: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 0 0 rgba(0, 1, 1, 0.14);
}

.range-controls .toggle:hover {
  background: #1c4f80;
}

.range-controls .toggle-min {
  left: 4px;
}

.range-controls .toggle-max {
  left: 160px;
}

.btn-show {
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  font-weight: normal;  
  
  display: inline-block;
  width: 133px;
  height: 32px;
  border: 2px solid #fff;
  border-radius: 3px;
  margin-left: 44px;
  background: none;
  box-sizing: content-box;
  padding: 0;
  vertical-align: baseline;
}

.btn-show:hover {
  text-decoration: none;
}

.btn-show-hide {
  display: none;
}

.hotel-list-header {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  
  position: relative;
  min-height: 56px;
  padding-top: 30px;
  padding-left: 46px;
  padding-right: 46px;
  border-bottom: 1px dotted #e5e5e5;
  background-color: #fff;
}

.found-title {
  color: #000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  
  margin-right: 44px;
}

.found-title + span {
  color: #000;
  
  margin-right: 36px;
}

.sorting-type {
  color: #b2b2b2;
  
  border-bottom: 1px dotted #81b3d2;
  margin-right: 30px;
}

.sorting-type:hover {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-type:active {
  color: #000;
  border: 0;
}

.sorting-type.active {
  color: #81b3d2;
  border: 0;
}

.sorting-direction {
  display: inline-block;
  position: absolute;
  right: 40px;
  margin-top: 3px;
  font-size: 0;
  vertical-align: baseline;
}

.sorting-direction i {
  color: #cccccc;
  font-size: 23px;
}

.sorting-direction i:before {
  margin: 0;
}

.sorting-direction i.active,
.sorting-direction i.active:hover {
  color: #81b3d2;
  cursor: default;
}

.sorting-direction i:hover {
  color: #000;
  cursor: pointer;
}

.sorting-direction i:active {
  color: #81b3d2;
}

.hotel-card {
  min-height: 150px;
  border-bottom: 1px dotted #e5e5e5;
  padding-left: 46px;
  background-color: #fff;
}

.hotel-card div {
  float: left;
}

.hotel-card div:last-child {
  float: right;
}

.hotel-img {
  margin-top: 30px;
  margin-right: 31px;
}

.hotel-img img {
  max-height: 90px;
  max-width: 135px;
}

.hotel-info {
  font-size: 0;
  text-align: left;
  
  margin-top: 25px;
}

.hotel-info h1 {
  color: #000;
  font-size: 21px;
  
  margin-top: 0;
  margin-bottom: 4px;
}

.hotel-info a:first-child:hover {
  color: #81b3d2;
  text-decoration: none;
}

.hotel-info a:first-child:active {
  color: #cacaca;
}

.hotel-info p {
  font-size: 14px;
  
  margin-top: 4px;
  margin-bottom: 12px;
}

.accommodation-type {
  display: inline-block;
  width: 110px;
  margin-right: 6px;
}

.btn-hotel {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: "PT Sans", "MS Sans Serif", sans-serif;
  text-align: center;
  
  display: inline-block;
  height: 27px;
  margin-right: 6px;
  vertical-align: baseline;
}

.btn-hotel:hover {
  text-decoration: none;
}

.btn-more {
  width: 110px;
}

.btn-booking {
  width: 142px;
}

.hotel-rating {
  text-align: right;
  margin-right: 45px;
}

.star {
  margin-top: 24px;
}

.star i {
  color: #81b3d2;
  font-size: 19px;
}

.star i:before {
  margin: 0 0 0 1px;
}

.rating {
  color: #666666;
  line-height: 21px;
  text-align: center;
  
  display: inline-block;
  width: 110px;
  background: #f2f2f2;
  vertical-align: baseline;
  margin-top: 27px;
  margin-right: 1px;
  padding: 3px 0;
}
