@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../font/symbols-sedona.woff?60737633') format('woff'),
       url('../font/symbols-sedona.ttf?60737633') format('truetype'),
       url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */

/***** Page styles ******/

body {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'PT Sans', 'MS Sans Serif', sans-serif;
  text-align: center;

  margin: 0;
  padding: 0;
}

.container {
  width: 768px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  min-height: 56px;
  position: relative;
  padding: 0;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  width: 138px;
  height: 70px;
  font-size: 0;
  background: url(../img/logo.png) no-repeat center;
}

.main-navigation {
  padding: 0;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0 46px;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  width: 110px;
  min-height: 40px;
  font-size: 14px;
  line-height: 26px;
  padding-top: 16px;
}

.main-navigation a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-family: 'PT Sans', 'MS Sans Serif', sans-serif;
}

.main-navigation a:hover {
  color: #81b3d2;
  text-decoration: none;
}

.main-navigation a:active {
  color: #cacaca;
}

.main-navigation li:nth-child(4n+2) {
  margin-right: 150px;
  margin-left: 43px;
}

.main-navigation li:nth-child(4n+3) {
  margin-right: 43px;
}

.main-navigation li:nth-child(4n+3),
.main-navigation li:nth-child(4n) {
  text-align: right;
}

.intro {
  min-height: 512px;
  background: url("../img/intro.jpg") no-repeat center;
}

.index-header {
  color: #000000;
  width: 440px;
  font-size: 21px;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
}

.index-header + p {
  margin-bottom: 50px;
}

.feature-1,
.feature-2 {
  min-height: 256px;
  width: 768px;
  background-color: #81b3d2;
  color: #fff;
}

.features-item {
  line-height: 21px;
}

.feature-number {
  margin-top: 24px;
  margin-bottom: 21px;
}

.feature-img img {
  width: 512px;
  height: 256px;
  display: block;
}

.feature-1 .features-item {
  width: 177px;
  margin: 0 auto;
  float: left;
  padding-left: 39.5px;
  padding-right: 39.5px;
}

.features-title {
  margin-top: 47px;
}

.feature-1 .feature-img {
  float: right;
}

.features-more {
  padding: 0 4.5px;
}

.features-more .features-item {
  float: left;
  min-height: 330px;
  width: 165px;
  padding-left: 44px;
  padding-right: 44px;
}

.features-more .features-item:nth-child(2) {
  width: 160px;
  padding-left: 46.5px;
  padding-right: 46.5px;
}

.features-more-title {
  margin-top: 52px;
  font-weight: 700;
  margin-bottom: 23px;
}

.features-more-title:before {
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 29px;
}

.features-item:nth-child(1) .features-more-title:before {
  background: url(../img/icon-home.png) no-repeat bottom;
}

.features-item:nth-child(2) .features-more-title:before {
  background: url(../img/icon-eat.png) no-repeat bottom;
}

.features-item:nth-child(3) .features-more-title:before {
  background: url(../img/icon-souvenir.png) no-repeat bottom;
}

.feature-2 .features-item {
  width: 177px;
  margin: 0 auto;
  float: right;
  padding-left: 39.5px;
  padding-right: 39.5px;
}

.feature-2 .feature-img {
  float: left;
}

.feature-2 .features-title {
  margin-left: 12px;
  margin-right: 12px;
}

.features-3-to-5 .features-item {
  min-height: 256px;
  width: 160px;
  float: left;
  padding-left: 48px;
  padding-right: 48px;
  background-color: #eeeeee;
}

.features-3-to-5 .features-item:nth-child(2) {
  width: 145px;
  padding-left: 55.5px;
  padding-right: 55.5px;
}

.search-hotel-title {
  margin-top: 53px;
  font-size: 30px;
  line-height: 32px;
}

.search-hotel-title + p {
  width: 500px;
  margin: 0 auto;
}

.link-to-btn {
  display: inline-block;
  line-height: 86px;
}

.link-to-btn:hover {
  text-decoration: none;
}

.btn {
  border: 0;
  font-size: 21px;
  font-family: 'PT Sans', 'MS Sans Serif', sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-blue {
  background-color: #81b3d2;
}

.btn-blue:hover {
  background-color: #669ec0;
}

.btn-blue:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.btn-brown {
  background-color: #766357;
}

.btn-brown:hover {
  background-color: #604e43;
}

.btn-brown:active {
  color: #857871;
  background-color: #503e33;
}

.btn-show-form {
  width: 568px;
  height: 86px;
  margin-top: 47px;
}

.search-hotel-form {
  width: 513px;
  height: 395px;
  margin: 0 auto;
  background-color: white;
  text-align: right;
  padding-right: 55px;
  
  position: relative;
  z-index: 0;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.search-form {
  font-weight: bold;
}

.search-form input {
  height: 32px;
  background: #f2f2f2;
  border: 2px solid #f2f2f2;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.search-form input:hover {
  background: #ebebeb;
}

.search-form input:focus {
  background: #fff;
}

input[name="arrival-date"],
input[name="departure-date"] {
  width: 324px;
  padding: 1px 15px;
  padding-right: 7px
}

input[name="arrival-date"]:after,
input[name="departure-date"]:after {
  content: "\e800";
  font-family: "symbols-sedona";
  font-size: 21px;
  color: #c2c2c2;
  font-weight: normal;
}

input[name="arrival-date"]:hover:after,
input[name="departure-date"]:hover:after {
  color: #000;
}

input[name="arrival-date"]:focus:after,
input[name="departure-date"]:focus:after {
  color: #81b3d2;
}

input[name="arrival-date"] {
  margin-top: 55px;
  margin-left: 18px;
}

input[name="departure-date"] {
  margin-top: 29px;
  margin-bottom: 30px;
  margin-left: 15px;
}

.form-third-row {
  font-size: 0;
}

.form-third-row label {
  font-size: 14px;
}

.btn-plus,
.btn-minus {
  width: 38px;
  height: 38px;
  margin: 0;
  border: 0;
  font-size: 14px;
  color: #a9a9a9;
  background-color: #f2f2f2;
}

.btn-plus:hover,
.btn-minus:hover {
  color: #000;
}

.btn-plus:active,
.btn-minus:active {
  color: #81b3d2;
}

.plus-minus {
  display: inline-block;
  height: 38px;
}

label[for="adults"] + .plus-minus {
  margin-left: 41px;
  margin-right: 54px;
}

label[for="children"] + .plus-minus {
  margin-left: 26px;
}

input[name="adults"],
input[name="children"] {
  width: 32px;
  height: 32px;
  padding: 1px 1px;
  vertical-align: bottom;
  text-align: center;
}

.btn-submit{
  width: 458px;
  height: 58px;
  margin-top: 54px;
}

.map {
  position: relative;
  top: -395px;
  z-index: 0;
  width: 768px;
  height: 593px;
  background-image: url("../img/map.jpg");
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.main-footer {
  min-height: 120px;
  background-color: #fff;
  background-color: rgba(256,256,256,0.9);
  display: inline-block;
  vertical-align: middle;
  line-height: 120px;
}

.index-footer {
  position: relative;
  top: -515px;
  z-index: 1;
}

.footer-block {
  width: 256px;
  float: left;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: 700;
}

.social-btn {
  font-size: 0;
}

.social-btn:before {
  content: "";
  display: inline-block;
  width: 46px;
  height: 48px;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  background-color: #81b3d2;
  line-height: 48px;
  vertical-align: middle;
}

.social-btn:hover:before {
  background-color: #669ec0;
}

.social-btn:active:before {
  color: #88b6d1;
  background-color: #5496bd;
}

.social-btn-twitter.social-btn:before {
  content: "\74";
  font-size: 19px;
}

.social-btn-facebook.social-btn:before {
  content: "\66";
  font-size: 19px;
}

.social-btn-youtube.social-btn:before {
  content: "\f39e";
  font-size: 21px;
}

.footer-copyright span {
  color: #000;
  font-size: 14px;
}

.footer-copyright a:hover {
  text-decoration: none;
}

.copyright-img {
  width: 113px;
  height: 39px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  line-height: 39px;
  margin-left: 5px;
}

.copyright-img:hover {
  text-indent:-123px;
}

.copyright-img:active {
  text-indent:-246px;
}

/* hotel-filter */

.hotel-filter {
  min-height: 217px;
  background: url("../img/hotel-filter-bg.jpg") #cacaca no-repeat top;
  text-align: left;
  color: #fff;
  line-height: 21px;
}

.hotel-filter h2 {
  font-size: 16px;
  margin-top: 27px;
  margin-bottom: 25px;
}

.filter-left,
.filter-center {
  float: left;
}

.filter-right {
  float: right;
  font-size: 0;
  margin-right: 46px;
}

.filter-left {
  margin-left: 46px;
  margin-right: 100px;
}

.hotel-filter ul {
  list-style: none;
  padding: 0;
}

.hotel-filter li {
  min-height: 21px;
  margin-bottom: 24px
}

.hotel-filter input[type="checkbox"] {
  list-style: none;
  margin: 0;
}

.custom-checkbox:enabled,
.custom-checkbox:disabled {
  display: none;
}

.custom-checkbox:enabled + label:before,
.custom-checkbox:disabled + label:before {
  content: "\2610";
  display: inline-block;
  width: 25px;
  margin-right: 15px;
  font-family: "symbols-sedona";
  font-size: 26px;
  vertical-align: middle;
}

.custom-checkbox:checked + label:before {
  content: "\2611";
}

.filter-right h2 {
  margin-bottom: 10px;
  padding-left: 3px;
}

.price-min,
.price-max {
  width: 109px;
  height: 30px;
  border: 2px solid #fff;
  background: none;
  text-align: center;
  font-size: 14px;
  font-family: 'PT Sans', 'MS Sans Serif', sans-serif;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
}

input::-webkit-input-placeholder {color:#fff;}
input::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
input:-moz-placeholder           {color:#fff;}/* Firefox 18- */
input:-ms-input-placeholder      {color:#fff;}

.price-min {
  border-right: 0;
  border-radius: 3px 0 0 3px;
}

.input-separator {
  display: inline-block;
  height: 32px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  vertical-align: middle;
}

.input-separator:before {
  content: "";
  display: inline-block;
  height: 20px;
  border-left: 2px solid #fff;
  margin-top: 7px;
}

.price-max {
  border-left: 0;
  border-radius: 0 3px 3px 0;
}

.range-controls {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 4px;
  margin-bottom: 12px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255,255,255,0.3);
}

.range-controls .bar {
  width: 178px;
  height: 2px;
  background: #fff;
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 0 0 rgba(0, 1, 1, 0.14);
}

.range-controls .toggle:hover {
  background: #1c4f80;
}

.range-controls .toggle-min {
  left: 4px;
}

.range-controls .toggle-max {
  left: 160px;
}

.btn-show {
  display: inline-block;
  width: 133px;
  height: 32px;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  margin-left: 44px;
}

.btn-show:hover {
  text-decoration: none;
}

.hotel-list-header {
  min-height: 58px;
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  padding-top: 28px;
  padding-left: 46px;
  padding-right: 46px;
  border-bottom: 1px dotted #e5e5e5;
  position: relative;
}

.found-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
  margin-right: 49px;
}

.found-title + span {
  color: #000;
  margin-right: 40px;
  vertical-align: text-bottom;
}

.sorting-type {
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
  margin-right: 33px;
  vertical-align: text-bottom;
}

.sorting-type:hover {
  text-decoration: none;
  color: #81b3d2;
  
}

.sorting-type:active {
  color: #000;
  border: 0;
}

.sorting-type.active {
  color: #81b3d2;
  border: 0;
}

.sorting-direction {
  display: inline-block;
  position: absolute;
  right: 40px;
  margin-top: 4px;
  font-size: 0;
}

.sorting-direction i {
  font-size: 23px;
  color: #cccccc;
}

.sorting-direction i:before {
  margin: 0;
}

.sorting-direction i.active,
.sorting-direction i.active:hover {
  color: #81b3d2;
  cursor: default;
}

.sorting-direction i:hover {
  color: #000;
  cursor: pointer;
}

.sorting-direction i:active {
  color: #81b3d2;
}

.hotel-card {
  min-height: 150px;
  border-bottom: 1px dotted #e5e5e5;
  padding-left: 46px;
}

.hotel-card div {
  float: left;
}

.hotel-card div:last-child {
  float: right;
}

.hotel-img {
  margin-top: 30px;
  margin-right: 31px;
}

.hotel-img img {
  max-width: 135px;
  max-height: 90px;
}

.hotel-info {
  margin-top: 25px;
  font-size: 0;
  text-align: left;
}

.hotel-info h1 {
  color: #000;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 4px;
}

.hotel-info p {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.accommodation-type {
  margin-right: 36px;
}

.btn-hotel {
  height: 27px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: 'PT Sans', 'MS Sans Serif', sans-serif;
  text-align: center;
  margin-right: 6px;
}

.btn-hotel:hover {
  text-decoration: none;
}

.btn-more {
  width: 110px;
}

.btn-booking {
  width: 142px;
}

.hotel-rating {
  text-align: right;
  margin-right: 46px;
}

.star {
  margin-top: 24px;
}

.star i {
  font-size: 19px;
  color: #81b3d2;
}

.star i:before {
  margin: 0 0 0 1px;
}

.rating {
  display: inline-block;
  width: 110px;
  background: #f2f2f2;
  margin-top: 27px;
  margin-right: 1px;
  padding: 3px 0;
  text-align: center;
  line-height: 21px;
  color: #666666;
}
